.Footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px 0 140px;
}
.Links {
  display: flex;
  gap: 32px;
}

.FooterText {
  color: var(--gray-gray_9FA6B2, #9fa6b2);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.FooterImgs {
  display: flex;
  gap: 14px;
}