@import '../../../../styles/utils.scss';
@import '../../../../styles/scroll.scss';
.container {
  background-color: var(--gray-gray_FAFAFA, #fafafa);
  display: flex;
  position: relative;
  flex-flow: column;
  border: 1px solid #eee;
  overflow: scroll;

  @include desktop {
    height: 94.6vh;
    flex-shrink: 0;
  }
}

.columnHeaderContainer {
  position: sticky;
  top: 0;
}

.addTaskButtonContainer {
  margin: 0;
  padding: 0 1.25rem;

  @include mobile {
    padding: 0 0.75rem;
  }
}
