@use '/src/styles/global.scss' as colors;

.table {
  width: 966px;
}

.head {
  color: colors.$gray_9FA6B2;
  height: 30px;
}

.body {
  height: 60px;
  border-bottom: 1px solid colors.$gray_EEEEEE;

  td {
    vertical-align: middle;
  }
}

@media screen and (max-width: 1024px) {
  .table {
    width: 448px;
  }
}

@media screen and (max-width: 768px) {
  .table {
    width: 228px;
  }
}
