@import '/src/styles/global.scss';
@import '/src/styles/media.scss';

.container {
  width: 33.75rem;
  height: 20.875rem;
  border-radius: 0.5rem;
  background-color: $white_FFFFFF;

  @include mobile{
    width: 20.4375rem;
    height: 13.75rem;
    padding: 5rem 0 7.5rem;
  }
}