@use '/src/styles/global.scss' as colors;

.passwordContainer {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 455px;
  flex-shrink: 0;

  border-radius: 8px;
  background: colors.$white_FFFFFF;

  margin-top: 12px;
  padding: 30px;
}

.passwordText {
  color: colors.$black_333236;
  font-size: 24px;
  font-weight: 700;

  margin-top: 32px;
  margin-bottom: 10px;
}

.inputContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 20px;
  gap: 10px;
}

.inputLabel {
  color: colors.$black_333236;
  font-size: 18px;
  font-weight: 500;
}

.inputSection {
  width: 565px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 6px;
  border: 1px solid colors.$gray_D9D9D9;
  background: colors.$white_FFFFFF;

  &:focus {
    border: 1px solid colors.$violet_5534DA;
  }
}

.doneButton {
  width: 85px;
  height: 35px;
  flex-shrink: 0;

  border-radius: 4px;
  background: colors.$violet_5534DA;

  margin-top: 24px;
}
