@import "/src/styles/global.scss";
@import "/src/styles/media.scss";

.HomeHeader {
  height: 70px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 80px;
  background-color: $black_000000;
  z-index: 1;
  @include tablet {
    padding-right: 40px;
  }
  @include mobile {
    padding-right: 24px;
    padding-left: 24px;
  }
}
.Logo {
  @include mobile {
    display: none;
  }
  
}

.LogoMobile {
  display: none;
  @include mobile {
    display: block;
  }
}

.signContainer {
  display: flex;
  align-items: center;
  gap: 36px;
}

.HeaderLogin,
.HeaderSignup {
  color: var(--white-white_FFFFFF, #fff);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
