.Home__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 184px;
}

.Image__Container {
  margin-top: 94px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.titleImage {
  width: 722px;
  height: 422px;
}

.title_Texts {
  display: flex;
  gap:28px;
  align-items: center;
  margin-bottom: 24px;
}

.title_h {
  color: var(--white-white_FFFFFF, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 131.579% */
  letter-spacing: -2px;
}
.title_span {
  color: var(--violet-violet_5534DA, #5534da);
  text-align: bottom;
  font-family: Montserrat;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px; /* 72.222% */
  letter-spacing: -1px;
}
.title_p {
  color: var(--white-white_FFFFFF, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  margin-bottom: 66px;
}
.Main_LoginBtn {
  width: 280px;
  padding: 15px 0px 14px 0px;
  border-radius: 8px;
  background: var(--violet-violet_5534DA, #5534da);
  color: var(--white, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.Main_Point1,
.Main_Point2 {
  width: 1200px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--black-black_171717, #171717);
  margin-bottom: 90px;
  position: relative;
}

.Point1_text {
  position: absolute;
  left: 60px;
  top: 124px;
  color: var(--gray-gray_9FA6B2, #9fa6b2);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Point1_h2 {
  position: absolute;
  left: 60px;
  top: 250px;
  color: var(--white-white_FFFFFF, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.Point1_img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 594px;
  height: 497.487px;
  flex-shrink: 0;
  border-radius: 8px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.Point2_text {
  position: absolute;
  left: 644px;
  top: 124px;
  color: var(--gray-gray_9FA6B2, #9fa6b2);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Point2_h2 {
  position: absolute;
  left: 644px;
  top: 250px;
  color: var(--white-white_FFFFFF, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.Point2_img {
  position: absolute;
  left: 108px;
  bottom: 0px;
  width: 436px;
  height: 502px;
  flex-shrink: 0;
  border-radius: 8px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.Main_PlusInfo {
  width: 1200px;
  height: 454px;
  margin-bottom: 160px;
}
.PlusInfo_h {
  color: var(--white-white_FFFFFF, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px;
}

.InfoCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
