@import '/src/styles/global.scss';
@import '/src/styles/media.scss';

.container {
  width: 31.625rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: $white_FFFFFF;

  @include mobile{
    width: 24.4375rem;
    height: 42rem;
    padding: 1rem;
  }

  h1 {
    color: $black_333236;
    font-size: 1rem;
    font-weight: 700;
  }

  label,
  h3 {
    color: $black_333236;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.inputTop {
  margin-top: 0.63rem;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  color: $black_333236;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.375rem;
  border: 1px solid $gray_D9D9D9;
  background: $white_FFFFFF;

  &::placeholder {
    font-size: 0.8rem;
  }
}

.content {
  height: 36rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: auto;

  @include mobile{
    height: 34rem;
  }
}

// 스크롤 투명
::-webkit-scrollbar {
  display: none
}

.contentBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentDropdown {
  width: 100%;
  display: flex;
  gap: 1rem;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.contentInput {
  height: 3rem;

  @include mobile {
    height: 2.2rem;
  }

  &:focus {
    // 클릭 시 생기는 기본 테두리 변경
    outline: none; 
    border: 1px solid $violet_5534DA;
  }
}

.contentName {
  width: 12rem;

  @include mobile{
    width: 100%;
  }
}

.contentText {
  height: 6rem;
  overflow-wrap: break-word;
}

.textarea {
  width: 100%;
  height: 6.25em;
  margin-top: 0.63rem;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  border: none;
  resize: none;
  color: #333236;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.375rem;
  border: 1px solid #d9d9d9;
  background: $white_FFFFFF;

  &::placeholder {
    font-size: 0.8rem;
  }

  &:focus {
    // 클릭 시 생기는 기본 테두리 변경
    outline: none; 
    border: 1px solid $violet_5534DA;
  }
}

.contentSpan {
  color: $violet_5534DA;
}

.buttonBlock {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0 0.5rem;

  @include mobile{
    justify-content: space-around;
    gap: 0.75rem;
  }
}

.cancelButton,
.createButton {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  @include mobile{
    width: 8rem;
    height: 2.4rem;
    font-size: 0.875rem;
  }
}