@import '/src/styles/global.scss';
@import '/src/styles/media.scss';

.container {
  position: sticky;
  width: 100%;
}

.calendarBlock {
  width: 29.6rem;
  height: 3rem;
  margin-top: 0.63rem;
  padding-left: 2rem;
  color: $black_333236;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.375rem;
  border: 1px solid $gray_D9D9D9;
  background: $white_FFFFFF;

  &::placeholder {
    font-size: 0.8rem;
    margin-left: 6rem;
  }

  &:focus {
    // 클릭 시 생기는 기본 테두리 변경
    outline: none; 
    border: 1px solid $violet_5534DA;
  }

  @include mobile {
    width: 22.4rem;
    height: 2rem;
  }
}


.calendarImage {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;

  @include mobile {
    top: 1rem;
  }
}

// .customHeaderContainer {
//   padding: 0 12px 0 24px;
//   font-size: 0.8rem;
//   padding-top: 0.2rem;
//   padding-bottom: 0.2rem;
//   background-color: #5534DA;

//   .month {
//     color: #fff;
//     font-weight: 500;
//     font-size: 0.8rem;
//     margin-right: 0.5rem;
//   }

//   .year {
//     color: #000;
//     border: none;
//     font-size: 0.8rem;
//     font-weight: 500;
//     padding-right: 5px;
//     cursor: pointer;
//     font-family: 'Noto Sans KR', serif;
//   }

//   .monthButton {
    
//     + .monthButton {
//       margin-left: 24px;
//     }

//     &:hover {
//       background-color: rgba(#000, 0.08);
//     }

//     &:disabled {
//       cursor: default;
  

//       svg {
//         fill: #575757;
//       }
//     }
//   }
// }

// .calenderWrapper {
//   background-color: #fcf3ff;
// }

// .selectedDay,
// .unselectedDay {
//   color: #9602ff;
//   padding: 3px 1px 0 0;
//   width: 30px;
//   height: 30px;
//   font-size: 0.8rem;

//   &:hover {
//     color: #e3a2ff;
//   }
// }

// .selectedDay {
//   background-color: #ff6262;
//   border-radius: 50%;
//   font-size: 0.8rem;

//   &:hover {
//     background-color: #ffffff;
//     border-radius: 50%;
//   }
// }

// .unselectedDay {
//   font-size: 0.8rem;
  
//   &:hover {
//     border-radius: 50%;
//     background-color: rgba(#f71010, 0.08);
//   }
// }

// .react-datepicker {
//   // ...
  
//   .react-datepicker__day--outside-month {
//     cursor: default;
//     visibility: hidden;
//   }
// }
