@import '../../../../styles/utils.scss';

.container {
  display: flex;
  padding: 1.25rem;
  height: 4.25rem;
  align-items: center;
  background-color: var(--gray-gray_FAFAFA, #fafafa);

  @include desktop {
    width: 22.125rem;
  }
  @include mobile {
    height: 3.375rem;
    padding: 0.75rem;
    width: 100%;
  }

  .columnName {
    margin-right: 0.75rem;
    margin-left: 0.5rem;
  }
  .settingButton {
    top: 1.25rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    .buttonImg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
}
