@import '/src/styles/global.scss';

.myPageLayout {
  background: $gray_FAFAFA;
}

.backContainer {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.backIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.backText {
  color: $black_333236;
  font-size: 20px;
  font-weight: 500;
}
