@import '/src/styles/global.scss';
@import '/src/styles/media.scss';

.myPageLayout {
  display: flex;
  background: $gray_FAFAFA;
}

.MyPageContainer {
  display: flex;
  flex-direction: column;
}
s .pageBackContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: auto;
  height: auto;
  gap: 6px;
}

.pageBackIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.pageBackText {
  color: $black_333236;
  font-size: 20px;
  font-weight: 500;
}
