@use '/src/styles/global.scss' as colors;

.container {
  width: 966px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100px;
  height: 100px;
}

.message {
  color: colors.$gray_9FA6B2;
  font-size: 18px;
}
