@import '../../styles/media.scss';
@import '../../styles//global.scss';

.SideBar {
  width: 300px;
  height: 100vh;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--white-white_FFFFFF, #fff);
  border-right: 1px solid #d9d9d9e0;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px; /* 스크롤바 너비 */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 색상 */
  }

  &::-webkit-scrollbar-thumb {
    background: #888888de; /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 모양 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* 마우스 호버시 스크롤바 색상 */
  }

  @include tablet {
    width: 160px;
    min-width: 160px;
  }
  @include mobile {
    width: 67px;
    min-width: 67px;
  }
}

.LogoImg {
  position: absolute;
  top: 20px;
  left: 24px;

  @include mobile {
    display: none;
  }
}

.LogoImgMobile {
  display: none;
  position: absolute;
  top: 20px;
  left: 22px;

  @include mobile {
    display: block;
  }
}

.SideBarHeader {
  width: 100%;
  margin-top: 110px;
  padding: 0 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Title {
  color: var(--gray-gray_787486, #787486);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include mobile {
    display: none;
  }
}

.AddBox {
  cursor: pointer;
}

.DashboardsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 18px;
}

.DashboardsListMobile {
  display: none;
}

.PaginationBtn {
  position: fixed;
  bottom: 24px;
  left: 20px;
  opacity: 70%;

  @include mobile {
    display: none;
  }
}
