.container {
  width: 1024px;
}

.dashboardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 70px;
  gap: 13px;
}

.pagination {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 504px;
  }

  .dashboardList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 68px 68px 68px;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 260px;
  }

  .dashboardList {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 58px);
    gap: 8px;
  }
}
