@use '/src/styles/global.scss' as colors;

.LinkTextContainer {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;

  .LinkText {
    color: colors.$black_333236;
    text-align: center;
  }
  .Link {
    color: colors.$violet_5534DA;
    text-decoration-line: underline;
  }
}
