.container {
  position: relative;
  width: 33.75rem;
  height: 15.625rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 6.75rem 0 7.56rem;

  background-color: white;

  @media screen and (max-width: 768px) {
    width: 20.4375rem;
    height: 13.75rem;
    padding: 5rem 0 7.5rem;
  }

  p {
    // 폰트 추가
    color: #333236;
    font-size: 1.125rem;
    font-weight: 500;
  }

  button {
    position: absolute;
    right: 1.75rem;
    bottom: 1.75rem;
    width: 7.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0;
    background: #5534da;

    // 변경
    color: #fff;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      cursor: pointer;

      // 변경
      background-color: #3810db;
    }

    @media screen and (max-width: 768px) {
      width: 8.625rem;
      height: 2.625rem;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
