@import '/src/styles/global.scss';

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 20px;
  gap: 10px;
}

.inputLabel {
  color: $black_333236;
  font-size: 18px;
  font-weight: 500;
}

.inputSection {
  width: 565px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 6px;
  border: 1px solid $gray_D9D9D9;
  background: $white_FFFFFF;

  &:focus {
    border: 1px solid $violet_5534DA;
  }
}
