@import '/src/styles/global.scss';
@import '/src/styles/media.scss';

.container {
  position: relative;
  display: flex;
  gap: 0.5rem;
}

.titleBlock {
  display: flex;
  gap: 0.38rem;
}

.name {
  color: var(--black-black_333236, #333236);
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.date {
  color: var(--gray-gray_9FA6B2, #9FA6B2);
  font-family: Pretendard;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.commentBlock {
  width: 28.125rem;
  margin-top: 0.1em;

  h2 {
    color: $black_333236;
    font-size: 1rem;
    font-weight: 500;
  }

  @include mobile {
    width: 100%;
  }
}

.comment {
  color: var(--black-black_333236, #333236);
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonBlock {
  display: flex;
  gap: 0.5rem;
}

.button {
  padding: 0;
  color: var(--gray-gray_9FA6B2, #9FA6B2);
  font-family: Pretendard;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.formLabel {
  display: none;
}

.formInput {
  position: relative;
  width: 23rem;
  height: 3rem;
  margin-top: 0.2rem;
  padding: 0.6rem;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  color: #333236;
  font-size: 0.8rem;
  font-weight: 400;

  @include mobile {
    width: 14rem;
  }

  &:focus {
    // 클릭 시 생기는 기본 테두리 변경
    outline: none; 
    border-bottom: 1px solid $violet_5534DA;
  }
}

.formButton {
  position: absolute;
  top: 2.2rem;
  right: 3rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
  background: var(--violet-violet_5534DA, #5534da);
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;

  @include mobile {
    right: 1rem;
  }
}